footer {
    background-color: #201B17; 
    padding: 2em; 
    text-align: center; 
}

.footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.foto {
    width: 150px; 
    height: auto; 
    margin-bottom: 10px; 
}

.patente {
    margin: 10px 0; 
    color: white;
}

.social-icons img {
    width: 30px; 
    height: auto; 
    margin: 0 10px; 
}
  
