footer {
    background-color: #201B17; 
    padding: 2em; 
    text-align: center; 
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.foto {
    width: 150px; 
    height: auto; 
    margin-bottom: 10px; 
}

.patente {
    margin: 10px 0; 
    color: white;
}

.social-icons img {
    width: 30px; 
    height: auto; 
    margin: 0 10px; 
}


@media (max-width: 1024px) {
    footer {
        padding: 1.5em;
    }

    .foto {
        width: 130px;
    }

    .social-icons img {
        width: 25px;
    }
}


@media (max-width: 768px) {
    footer {
        padding: 1em;
    }

    .foto {
        width: 100px;
    }

    .social-icons img {
        width: 20px;
    }
}
