header {
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #170707;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2em; 
}    

.logo {
    display: flex;
    flex-direction: row;
}

header img {
    width: 6em;
}

nav a, #visite, #login {
    color: #C64A58;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0.5em 1em;
}

#visite, #login  {
    background-color: #FFFCFC;
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: #C64A58;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

#icon-sobre, #icon-cardapio, #icon-local {
    display: flex;
    width: 9mm;
    gap: 0.5em;
}
