header{
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #FBE2C5;
}

header nav{
    display: flex;
    gap: 3em;
}

.logo {
    display: flex;
    flex-direction: row;
}

header img {
    width: 4.5em;
}

.ancoras a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#visite {
    background-color: #7e51393b ;
    border: none;
}
html {
    scroll-behavior: smooth;
}

.ancoras a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
}

a:hover {
    color: #ff6600; 
    text-decoration: underline;
}
