* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    #sobre {
        padding: 1em;
        gap: 3em;
        min-height: auto;
    }

    .sobre-title {
        font-size: 1.5em;
    }

    .sobre-content {
        flex-direction: column;
        gap: 2em;
        justify-content: center;
    }

    .sobre-content p {
        font-size: 1em;
        line-height: 1.5;
    }

    .exprezzo {
        width: 100%;
        max-width: 15em;
        border-radius: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .sobre-title {
        font-size: 2em;
    }

    .sobre-content {
        flex-direction: column;
        gap: 4em;
    }

    .sobre-content p {
        font-size: 1.5em;
    }

    .exprezzo {
        width: 100%;
        max-width: 25em;
        border-radius: 4em;
    }
}

#sobre{
    background-color: #7E5139;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 7em;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sobre-title{
    font-size: 3Rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#sobre h2{
    color: rgb(255, 255, 255);
}

.sobre-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.sobre-content p{
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
    overflow-wrap: break-word;
}

.exprezzo{
    width: 50em;
    border-radius: 7em
}