#unidades{
    background-color: #f5ece3;
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: 100vh;  
}

.unidades-title{
    display: flex;
    justify-content: center;
    font-size: 5em;
}

.unidades-content{
    display:flex;
    justify-content: space-between;
    gap: 1em;
}

.unidades-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5em;
}

.unidades-item h3{
    font-size: 3rem;
}

.unidades-item p{
    font-size: 1.75rem; 
}


.cafeteria{
    width: 22em;
    height: 14em;
    border-radius: 15%;
}

.btn-unidade{
    background-color: #4B4B4B;
    color: white;
    border-radius: 30px;
    width: 10em;     
    height: 3em;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    #unidades {
        gap: 3em; 
    }
    
    .unidades-title {
        font-size: 2em; 
    }
    
    .unidades-content {
        flex-direction: column; 
        gap: 2em; 
    }
    
    .unidades-item h3 {
        font-size: 2rem; 
    }
    
    .unidades-item p {
        font-size: 1.25rem; 
    }
    
    .btn-unidade {
        width: 8em;
        height: 2.5em;
        font-size: 1.2rem; 
    }
}
    
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .unidades-title {
            font-size: 3.5em;
        }
    
        .unidades-content {
            gap: 2em; 
        }
    
        .unidades-item {
            flex-basis: 45%; 
        }
    
        .unidades-item h3 {
            font-size: 2.25rem; 
        }
    
        .unidades-item p {
            font-size: 1.5rem; 
        }
    
        .cafeteria {
            width: 20em; 
            height: 12em;
        }
    }